@font-face {
    font-family: 'TheSansLight';
    src: url('../fonts/TheSansLight/TheSansLight_44258.eot');
    src: url('../fonts/TheSansLight/TheSansLight_44258.eot') format('embedded-opentype'),
         url('../fonts/TheSansLight/TheSansLight_44258.woff2') format('woff2'),
         url('../fonts/TheSansLight/TheSansLight_44258.woff') format('woff'),
         url('../fonts/TheSansLight/TheSansLight_44258.ttf') format('truetype'),
         url('../fonts/TheSansLight/TheSansLight_44258.svg#TheSansLight_44258') format('svg');
}

@font-face {
    font-family: 'TheSansSemiBold';
    src: url('../fonts/TheSansSemiBold/TheSansSemiBold_44271.eot');
    src: url('../fonts/TheSansSemiBold/TheSansSemiBold_44271.eot') format('embedded-opentype'),
         url('../fonts/TheSansSemiBold/TheSansSemiBold_44271.woff2') format('woff2'),
         url('../fonts/TheSansSemiBold/TheSansSemiBold_44271.woff') format('woff'),
         url('../fonts/TheSansSemiBold/TheSansSemiBold_44271.ttf') format('truetype'),
         url('../fonts/TheSansSemiBold/TheSansSemiBold_44271.svg#TheSansSemiBold_44271') format('svg');
}