form {
	float: right;
	background-color: #fff;
	border-radius: 8px;
	height: 80vh;
	margin-right: 5vw;
	padding: 5vh 5vw;
	&.orderDemo {
		width: 40%;
		margin-right: -40%;
		transition: margin 2s;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	}
	h4 {
		font-family: 'Montserrat', sans-serif;
		font-size: 6vh;
		font-weight: 700;
  	color: #0b7fe5;
	}
	p {
		font-family: 'Source Sans Pro', sans-serif;
  	font-size: 20px;
  	color: #1b2c42;
  	margin-top: 3vh;
	}
	input[type=text] {
		border: 2px solid;
		border-color: transparent transparent #bebebe;
		padding: 0 1vw;
		opacity: 0.4;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.3vw;
    height: 5vh;
  	color: #1b2c42;
  	margin-top: 3vh;
  	width: 100%;
  	&:focus {
  		border-bottom-color: #0b7fe5;
  	}
	}
	textarea {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.3vw;
  	color: #000;
  	opacity: 0.4;
  	margin-top: 3vh;
		border: 2px solid;
		border-color: transparent transparent #bebebe;
		padding: 1vh 1vw;
		height: 10vh;
		width: 99%;
		resize: none;
		overflow: hidden;
		&:focus {
  		border-bottom-color: #0b7fe5;
  		color: #000;
  	}
	}
	input[type=submit] {
		margin-top: 5vh;
    width: 243px;
    height: 52px;
	  border-radius: 10px;
	  border: solid 1px #0b7fe5;
	  text-align: center;
	  font-family: 'Source Sans Pro', sans-serif;
		font-size: 20px;
  	font-weight: 600;
  	color: #0b7fe5;
  	cursor: pointer;
  	background: none;
  	position: relative;
    left: 50%;
    margin-left: -120px;
	}
}