@media screen and (max-width: 980px) {
	article {
		&.top-space {
    	padding-top: 20vh;
		}
	}
}
@media screen and (max-width: 768px) {
	.wrapper {
		.popup.mob {
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			border-radius: 0;
			padding-bottom: 10vh;
			.close {
		    background: url('../img/close_icon_blue.svg') no-repeat 0 0 / 100% 100%;
		    top: 5vh;
		    right: 5vw;
		    width: 4vw;
		    height: 4vh;
			}
			.circle {
				display: none;
			}
			.box {
				display: none;
			}
			.logo {
				display: block;
				background: url('../img/Kandio_logo_mobile_header.svg') no-repeat 0 0 / 100% 100%;
				//width: 30vw;height: 10vh;
				width: 108px;
				height: 18px;
    		margin: 5.4vh 0 0 36vw;
			}
			form {
				width: 100%;
				h4 {
					text-align: center;
					//font-size: 9vw;
					font-size: 6vh;
				}
				p {
					display: none;
				}
				input[type=text] {
					margin-top: 14px;
					font-size: 18px;
					&:focus {
						border-bottom-color: #0b7fe5;
						color: #000;
					}
				}
				input[type=submit] {
					width: 100%;
			    transform: none;
    			margin-left: 0;
    			font-size: 20px;
				}
				textarea {
					margin-top: 14px;
					font-size: 18px;	
				}
			}
		}
		/* header */
	header {
		padding-top: 3vh;
		height: 7vh;
		nav {
			order: 1;
			.sandwich-menu {
				display: block;
				margin-top: 1vh;
			}
			ul {
				display: none !important;
				position: absolute;
				background-color: #fff;
			}
		}
		.logo {
			order: 2;
			margin-top: .6vh;
			a {
		    //width: 35vw;height: 4vh;
		    width: 108px;
		    height: 18px;
			}
		}
		.login {
			order: 3;
			padding: 0;
			text-indent: -9999px;
	    //width: 9vw;height: 5vh;
	    width: 28px;
	    height: 28px;
    	background: url('../img/login-white.svg') no-repeat 50% 50%/12px 12px;
		}
	}
	/* main */
	section {
		overflow: hidden;
		min-height: 80vh;
		&.s1 {background-image: radial-gradient(circle at 50% 100%, #38a9e1, #0869c2);}
		&.s2 {background-image: radial-gradient(circle at 50% 100%, #0e5b9e, #1b2c42);}
		&.s3 {background-image: radial-gradient(circle at 50% 100%, #ffc100, #f98718);}
		&.s4 {background-image: radial-gradient(circle at 52% 100%, #574ae2, #3d3690);}
		&.s5 {background-image: radial-gradient(circle at 47% 100%, #75e36f, #2f9917);}
		&.s6 {background-image: radial-gradient(circle at 50% 100%, #0e5b9e, #1b2c42);}
		&.s7 {background-image: radial-gradient(circle at 50% 100%, #74bcf5, #0b7fe5);}
		&.main-view {
			padding-top: 7vh;
			.order {
				display: block;
				left: 50%;
				margin-left: -80px;
				bottom: 5vh;
		    //height: 6vh;width: 50vw;font-size: 5vw;line-height: 6vh;padding-left: 13vw;
		    width: 159px;
		    height: 40px;
    		font-size: 18px;
    		line-height: 40px;
    		padding-left: 46px;
    		background: url('../img/Play_button.svg') no-repeat 5% 50%/20px 20px;
			}
		}
		&.onView {
			article {
				width: 100%;
			}
			figure {
				width: 100%;
			}
			h4 {
				&:after {
					width: 40vw;
				}
			}
		}
	}
	.circle {
		display: none !important;
	}
	.circle-2 {
		display: none !important;
	}
	.circle-3 {
		display: none !important;
	}
	.phonebox {
		width: 90%;
		height: auto;
		margin-right: 5% !important;
		>div {
			background: url('../img/iphone_.png') no-repeat 50% 0 / cover;
    	overflow: hidden;
    	width: 50vw;
    	height: 55vh;
    	border-radius: 8vw 8vw 0 0;
    	margin-top: 5vh;
    	&.animated {
				padding: 1.3vh 3vw 2vw;
			}
		}
	}
	article {
		width: 100%;
		height: auto;
		min-height: 50vh;
		padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
		padding-bottom: 3vh;
		text-align: center;
		float: left;
		&.top-space {
    	padding-top: 6vh;
		}
		&.wide {
			&.padding {
				padding-right: 3vw;
    		padding-left: 3vw;
			}
			.row {
		    padding-bottom: 17vh;
		    padding-top: 3vh;
		    height: auto;
		    overflow: hidden;
			}
			.block {
				width: 90%;
				margin: 0 5%;
				padding: 2vh 2vw;
				&:nth-child(2) {
					margin: 5%;
				}
				.pageStage {
					top: 2vh;
    			left: 30vw;
				}
				figure {
					text-align: center;
			    margin-top: 3vh;
			    max-height: 32vh;
				}
				h6 {
			    //font-size: 7vw;
			    font-size: 3.1vh;
    			padding-bottom: 3.1vh;
				}
				p {
					font-size: 18px;
					line-height: 1.2;
				}
			}
			h6:after {
				left: 50%;
		    margin-left: -15vw;
    		width: 30vw;
			}
			.link-board {
				width: 95%;
  			margin-left: 2.5%;
				height: auto;
				margin-top: 3vh;
		    padding-bottom: 6vh;
				flex-direction: row;
				justify-content: space-between;
				li {
					float: left;
					width: 25%;
					border-bottom: 2px solid;
					border-color: transparent;
					&:hover {
						.line {
							display: none;
						}
					}
					&.active {
						border-color: #fff;
						.line {
							display: none;
						}
					}
					&:after {
						display: none;
					}
					.line {
						display: none;
					}
					a {
						//font-size: 5vw;
						font-size: 2.5vh;
					}
				}
			}
			.link-box {
				width: 95%;
				margin-left: 2.5%;
				margin-top: 0;
				height: auto;
			}
			&.mobile-order {
				.order {
					display: block;
					bottom: 5vh;
					opacity: 1;
  				left: 50%;
  				margin-left: -95px;
				}
			}
		}
		h3 {
			//font-size: 10vw;
			font-size: 5vh;
		}
		h2 {
			font-size: 11vw;
		}
		h4 {
			&:after {
		    left: 50%;
    		margin-left: -20vw;
			}
		}
		h5 {
			font-size: 5vw;
			width: 80%;
			margin-left: 10%;
    	text-align: center;
		}
		p {
			line-height: 4vh;
		}
		.order {
			display: none;
		}
		.scroll-down {
			display: none;
		}
		.indication {
			display: none;
		}
	}
	figure {
		width: 100%;
		text-align: center;
    float: left;
    &.medium {
    	width: 100% !important;
    }
    &.left-aligned {
    	display: none;
    }
		img {
			max-width: 85vw;
			height: auto;
			margin: 0 auto;
		}
	}
	form {
		width: 100% !important;
		margin: 0 !important;
		height: auto;
		border-radius: 0;
		padding-top: 10vh;
		padding-bottom: 10vh;
		//padding-bottom: 5vh;
		h4 {
			//font-size: 10vw;
			font-size: 5vh;
	    text-align: center;
		}
		p {
			font-size: 3vh;
			text-align: center;
	    margin-bottom: 4vh;
    	margin-top: 4vh;
		}
		input[type=text] {
			padding: 0 2vw;
			font-size: 3vh;
			//font-size: 6vw;
			height: 6vh;
			margin-top: 3vh;
			width: 100%;
		}
		textarea {
			font-size: 3vh;
    	margin-top: 3vh;
      padding: 2vh 2vw;
  	  height: 14vh;
    	width: 100%;
		}
		input[type=submit] {
    	margin-top: 5vh;
    	width: 100%;
    	height: 7vh;
	    font-size: 3vh;
	    left: 0;
	    margin-left: 0;
		}
	}
	/*footer */
	footer {
		height: auto;
			.back-to-top {
    		padding: 0;
    		position: absolute;
				left: 50%;
				margin-left: -28px;
				width: 56px;
				height: 56px;
				background-size: 56px 56px;
			}
		.top-line {
			overflow: hidden;
			padding: 7vh 0 17vh;
			div {
				width: 100%;
				padding: 3vh 0 0;
				text-align: center;
				&.left-side {
					padding-top: 0;
					div {
						width: 100%;
						padding-top: 7vh;
						&:first-child {
							padding-top: 0;
						}
					}
					.small-font {
						padding-top: 1vh;
					}
				}
				h2 {
					display: inline-block;
					width: 152px;
    			height: 26px;
				}
				p {
					width: 100%;
				}
				&.left-side {
					width: 100%;
				}
				&.right-side {
					width: 100%;
				}
			}
			.social {
		    margin: 0 auto;
    		//width: 40vw;margin-left: 35vw;
			}
		}
		/*.low-line {justify-content: center;flex-direction: column;padding: 2vh 0;position: relative;div {line-height: 3vh;font-size: 4vw;position: relative;}div:last-child {position: absolute;left: 50%;margin-left: -6vw;top: -3vh;}.back-to-top {width: 12vw;padding: 0;text-indent: -999px;}}*/
	}
}
}