@import "_reset";
@import "_general";
@import "_fonts";
@import "_queries";

@mixin img($width:100%, $height:auto, $display:inline-block, $border:none) {
	width: $width;
	height: $height;
	display: $display;
	border: $border;
}
@keyframes transparency {
	0%, 100% {opacity: 1;} 
	50% {opacity: 0;}
}




.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	.popupBox {
		position: fixed;
		width: 100%;
		height: 100%;
		top:0;
		left: 0;
		z-index: 999;
		background-color: rgba(0,0,0, 0.3);
		display: none;
	}
	.popup {
		position: fixed;
		top: 15vh;
		left: 10vw;
		z-index: 99;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.25);
		transition: right 2s;
		width: 80vw;
		height: 75vh;
		overflow: hidden;
		display: block;
		.close {
			position: absolute;
			top: 1.4vh;
			right: 1.4vw;
			z-index: 50;
			width: 2vw;
  		height: 2vh;
  		display: block;
  		background: url('../img/close_icon_white.svg') no-repeat 0 0 / 100% 100%;
		}
		.circle{
			&.blue {
				position: absolute;
				top: -15%;
		    right: -5%;
		    width: 50%;
		    z-index: 2;
		    height: 150%;
				background: url('../img/Oval_main_screen.svg') no-repeat 50% 50% / cover;
				border-radius: 50% 0 0 50%;
			}
		}
		.box {
			border-radius: 6px;
			//background-color: #f9f9f9;
			background-color: #1b2c42;
		  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
		  float: right;
		  position: relative;
		  z-index: 19;
		  width: 50%;
		  height: 38vh;
    	margin-top: 18vh;
		}
		.logo {
			display: none;
		}
		form {
			float: left;
			width: 50%;
			margin: 0;
			h4 {
				font-size: 4vw;
			}
		}
	}
}

/* header */
header {
	float: left;
	padding-top: 3.4vh;
  padding-right: 3.4vw;
  padding-left: 3.4vw;
  width: 100%;
  height: 7vh;
  position: relative;
  z-index: 30;
  margin-bottom: -7vh;
	opacity: 0;
	transition: opacity .7s;
	display: flex;
	justify-content: space-between;
	align-content: center;
	&.onView {
		opacity: 1;
	}
	.logo {
	  position: relative;
	  z-index: 99;
	  display: inline-block;
	  a {
	  	display: block;
	  	background-image: url('../img/Kandio_Logo_header.svg');
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    width: 15vw;
    	height: 3.8vh;
	  	font-size: 0;
	  	line-height: 0;
	  }
	}
	.sandwich-menu {
		display: none;
		//width: 7vw;
		width: 17px;
		height: 13px;
		background: url('../img/burger-white.svg') no-repeat 50% 50% / 100% 100%;
		/*span {
			float: left;
			width: 100%;
			height: .7vh;
			background-color: #fff;
			&+span {
				margin-top: .7vh;
			}
		}*/
	}
	.login {
		line-height: 3.4vh;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.8vh;
		font-weight: 600;
		color: #fff;
		padding: 0 1.5vw;
		border: 1px solid #fff;
		border-radius: 6px;
		display: block;
    height: 3.4vh;
	}
	nav {
		a {
			font-family: 'Source Sans Pro', sans-serif;
		  font-size: 1.8vw;
		  font-weight: 600;
		  color: #fff;
		}
		ul {
			display: flex;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			height: 3.4vh;
			li {
				margin-right: 2vw;
			}
		}
	}
}
.mobile {
	display: none;
	position: absolute;
	z-index: 888;
	width: 100%;
	height: 70vh;
	background-color: #fff;
	border: 1px solid #3399ff;
	padding: 2vh 2vw;
	.close {
		background: url('../img/close_icon_blue.svg') no-repeat;
		width: 6vw;
		height: 4vh;
		display: block;
		position: absolute;
		left: 4vw;
		top: 4vh;
	}
	.logo  {
	  position: relative;
	  z-index: 99;
    //transform: translateX(50%);
    margin-top: 1.5vh;
    width: 30vw;
  	height: 3vh;
  	margin-left: 35vw;
  	display: block;
	  a {
	  	display: block;
	  	background-image: url('../img/Kandio_logo_mobile_header.svg');
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	  	width: 100%;
	  	height: 100%;	
	  	font-size: 0;
	  	line-height: 0;
	  }
	}
	.login {
		width: 6vw;
		height: 4vh;
		padding: 0;
		text-indent: -9999px;
		background: url('../img/Login_icon.svg') no-repeat 50% 50% / 60% 60%;
		display: block;
		position: absolute;
		top: 3vh;
		right: 2vw;
		border: 1px solid #3399ff;
		border-radius: 6px;
	}
	ul {
		margin-top: 4vh;
		width: 100%;
		li {
			float: left;
			width: 100%;
			margin-top: 2vh;
			text-align: center;
			a {
				 font-family: 'Source Sans Pro', sans-serif;
  				font-size: 5.5vw;
  				font-weight: 600;
  				color: #1b2c42;
			}
		}
	}
	.order {
		display: block;
		height: 9vh;
    width: 60vw;
		border: 1px solid #3399ff;
		border-radius: 6px;
		color: #3399ff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 6vw;
    line-height: 9vh;
    font-weight: 600;
    padding-left: 20vw;
		background: url('../img/Play_button_blue.svg') no-repeat 10px 50% /8vw 8vh;
		position: absolute;
    left: 20vw;
    bottom: 10vh;
	}
}

/* main slides */
main {
	float: left;
}
section {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  &.main-view {
  	padding-top: 70px;
  }
  &.section {
		opacity: 0;
  }
  &.s1 {background-image: radial-gradient(circle at 100% 50%, #38a9e1, #0869c2);}
	&.s2 {background-image: radial-gradient(circle at 100% 50%, #0e5b9e, #1b2c42);}
	&.s3 {background-image: radial-gradient(circle at 100% 50%, #ffc100, #f98718);}
	&.s4 {background-image: radial-gradient(circle at 102% 52%, #574ae2, #3d3690);}
	&.s5 {background-image: radial-gradient(circle at 100% 47%, #75e36f, #2f9917);}
	&.s6 {background-image: radial-gradient(circle at 100% 50%, #0e5b9e, #1b2c42);}
	&.s7 {background-image: radial-gradient(circle at 100% 50%, #74bcf5, #0b7fe5);}
	.circle {
		position: absolute;
		z-index: 1;
    height: 150%;
    width: 50%;
    top: -20%;
		left: 0;
		background-position: 100% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/Oval_main_screen.svg');
    background-size: cover;
    display: none;
	}
	.circle-2 {
		position: absolute;
		z-index: 1;
		height: 130%;
    width: 50%;
    top: -20%;
		right: 0;
		background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: url('../img/Oval_feature_3.svg');
    background-size: cover;
    display: none;
	}
	.circle-3 {
		position: absolute;
		z-index: 1;
		height: 125%;
    width: 80%;
    top: -20%;
    left: 0;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/Ovals_mailstyrning.svg');
    background-size: cover;
    display: none;
	}
	&.onView {
		article {
			height: 100%;
			opacity: 1;
		}
		.order {
			opacity: 1;
		}
		figure {
			margin-right: 0;
			&.medium {
				margin-left: 0;
			}
			&.wide {
				img {
					opacity: 1;
				}
			}
		}
		.phonebox {
			margin-right: 0;
		}
		form {
			&.orderDemo {
				margin-right: 7vw;	
			}
		}
		h4 {
			&:after {
				width: 12vw;
			}
		}
	}
	/*&.active {
		article {
			height: 100%;
			opacity: 1;
		}
		.order {
			opacity: 1;
		}
		figure {
			margin-right: 0;
			&.medium {
				margin-left: 0;
			}
		}
		.phonebox {
			margin-right: 0;
		}
		form {
			&.orderDemo {
				margin-right: 0;	
			}
		}
		h4 {
			&:after {
				width: 12vw;
			}
		}
	}*/
}

article {
	position: relative;
	padding-top: 20vh;
	padding-left: 10vw;
	height: 0;
	opacity: 0;
	transition: height, opacity 2s;
	z-index: 20;
	width: 40%;
	float: left;
	color: #fff;
	&.top-space {
		padding-top: 40vh;
	}
	&.wide {
		width: 100%;
		padding: 10vh 1.3vw 0; 
		&.padding {
			padding-right: 10vw;
			padding-left: 10vw;
		}
		.order {
			float: left;
			margin-top: 5vh;
			opacity: 0;
			transition: opacity 3.7s;
		}
		.row {
			width: 100%;
			height: 60vh;
		}
		.block {
			width: 32%;
			height: 100%;
			float: left;
			padding: 4vh 4vw;
			background-color: #fff;
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
			border: solid 1px #e6e6e6;
			border-radius: 6px;
			margin-top: 7vh;
			display: flex;
	    justify-content: center;
	    align-content: center;
	    flex-direction: column;
	    position: relative;
	    figure {
	    	float: left;
	    	width: 100%;
	    	text-align: center;
  	    margin-top: 3vh;
    		max-height: 320px;
    		display: flex;
		    justify-content: center;
		    align-content: center;
		    align-items: center;
	    	img {
	    		@include img();
	    		max-width: 585px;
	    	}
	    }
			&:nth-child(2) {
				margin-left: 2%;
				margin-right: 2%;
			}
		}
		h6 {
			font-family: AvenirNext;
			//font-size: 2vw;
			font-size: 28px;
			font-weight: bold;
			color: #4a4a4a;
			padding-bottom: 4vh;
			position: relative;
			&:after {
				content: '';
				display: block;
				width: 12vw;
				height: 4px;
				position: absolute;
				left: 0;
				bottom: 0;
				//background-color: #0b7fe5;
				background-color: rgba(27, 44, 66, 0.15);
			}
		}
		p {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.5vw;
			color: #1b2c42;
			margin-top: 3vh;
		}
		.pageStage {
			font-family: 'Montserrat', sans-serif;
  		font-size: 14px;
  		font-weight: 700;
			color: #0b7fe5;
			margin: 0; 
			position: absolute;
			top: 4vh;
			left: 4vw;
		}
		.link-board {
			width: 35%;
			height: 48vh;
			margin-top: 20vh;
			float: left;
			display: inline-flex;
			justify-content: left;
			flex-direction: column;
			align-items: left;
			li {
				position: relative;
				&:before {
					content: '';
					display: block;
					width: 0;
					height: 4px;
					transition: width 1s;
					background-color: #fff;
					position: absolute;
					left: 150px;
					top: 50%;
				}
				&.active {
					a {
  					opacity: 1;
					}
					&:before {
						width: 120px;
					}
				}
				&:hover {
					a {
  					opacity: 1;
					}
					&:before {
						width: 120px;
					}
				}
				a {
					opacity: 0.45;
  				font-family: 'Source Sans Pro', sans-serif;
  				font-size: 32px;
  				font-weight: 700;
  				line-height: 1.88;
  				color: #fff;
				}
			}
		}
		.link-box {
			display: inline-block;
			background-color: #fff;
			border-radius: 7px;
			float: left;
			width: 65%;
			height: 48vh;
			margin-top: 10vh;
			overflow: hidden;
			 box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
			ul {
				width: 100%;
				height: 100%;
				img {
					@include img();
				}
				li {
					float: left;
					width: 100%;
					height: 100%;
					display: none;
					&.active {
						display: block;
					}
				}
			}
		}
	}
	h2 {
		font-family: 'Montserrat', sans-serif;
	  font-size: 10vh;
	  font-weight: bold;
	  line-height: 1.05;
	}
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 5vh;
		font-weight: 700;
	}
	h4 {
		font-family: 'Montserrat', sans-serif;
		font-size: 4.5vh;
		font-weight: bold;
		position: relative;
		padding-bottom: 4vh;
		&:after {
			content: '';
			display: block;
			width: 0px;
			transition: width 2s;
			height: 4px;
			background-color: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	h5 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 3vh;
		font-weight: 400;
		margin-top: 2vh;
	}
	p {
		font-family: 'Source Sans Pro', sans-serif;
    //font-size: 1.4vw;
    font-size: 20px;
    margin-top: 4vh;
    line-height: 3vh;
		display: none;
	}
	.order {
    display: block;
    //height: 5.2vh;width: 13.5vw;padding-left: 4vw;line-height: 5.2vh;
    width: 190px;
    height: 52px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 52px;
    font-weight: 600;
    padding-left: 58px;
    background: url('../img/Play_button.svg') no-repeat 10px 50%/30px 30px;
    position: absolute;
    left: 10vw;
    bottom: 15vh;

	}
	.scroll-down {
		position: absolute;
		bottom: 10vh;
		left: 10vw;
		color: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		//font-size: 1.5vw;
		font-size: 20px;
		font-weight: 600;
		padding-right: 2vw;
		background: url('../img/Scroll_down.svg') no-repeat 100% 50% / 13px 15px;
	}
	.indication {
		position: absolute;
		left: 5vw;
    top: 50vh;
		width: 15px;
		li {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			opacity: 0.5;
			border: 1px solid #fff;
			&+li {
				margin-top: 15px;
			}
			&.active {
				opacity: 1;
				background-color: #fff;
			}
		}
	}
}
figure {
	float: right;
	height: 100%;
	width: 60%;
	margin-right: -60%;
	transition: margin 2s;
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: hidden;
	&.middle-image {
		justify-content: center;
		align-items: center;
	}
	&.left-aligned {
		float: left;
	}
	&.medium {
		margin-left: -45%;
		width: 45%;
	}
	&.wide {
		img {
			transition: opacity 2s;
			opacity: 0;
		}
	}
	img {
		@include img();
		max-width: 800px;
	}
}
.phonebox {
	float: right;
	height: 100%;
	margin-right: -60%;
	width: 60%;
	transition: margin 2s;
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	> div {
		background: url('../img/iphone@3x.png') no-repeat 50% / contain;
		overflow: hidden;
		width: 322px;
		height: 640px;
		box-shadow: -40px 0 30px 0 rgba(0,0,0, 0.36);
		border-radius: 4vw 3vw 3vw 3vw;
		&.animated {
			padding: 13px 20px 20px;	
		}
		img {
			@include img();
		}
	}
}
form {
	float: right;
	background-color: #fff;
	border-radius: 8px;
	height: 80vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-right: 5vw;
	padding: 5vh 5vw;
	&.orderDemo {
		width: 40%;
		margin-right: -40%;
		transition: margin 2s;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	}
	h4 {
		font-family: 'Montserrat', sans-serif;
		font-size: 6vh;
		font-weight: 700;
  	color: #0b7fe5;
	}
	p {
		font-family: 'Source Sans Pro', sans-serif;
  	//font-size: 1.5vw;
  	font-size: 20px;
  	color: #1b2c42;
  	margin-top: 3vh;
	}
	input[type=text] {
		border: 1px solid;
		border-color: transparent transparent #bebebe;
		padding: 0 1vw;
		opacity: 0.4;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.3vw;
    height: 5vh;
  	color: #1b2c42;
  	margin-top: 3vh;
  	width: 100%;
  	&:focus {
  		border-bottom-color: #0b7fe5;
  	}
	}
	textarea {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.3vw;
  	color: #000;
  	opacity: 0.4;
  	margin-top: 3vh;
		border: 1px solid;
		border-color: transparent transparent #bebebe;
		padding: 1vh 1vw;
		height: 10vh;
		width: 99%;
		resize: none;
		overflow: hidden;
		&:focus {
  		border-bottom-color: #0b7fe5;
  		color: #000;
  	}
	}
	input[type=submit] {
		margin-top: 5vh;
    //width: 16vw;height: 5.1vh;font-size: 1.7vw;
    width: 243px;
    height: 52px;
	  border-radius: 10px;
	  border: solid 1px #0b7fe5;
	  text-align: center;
	  font-family: 'Source Sans Pro', sans-serif;
		font-size: 20px;
  	font-weight: 600;
  	color: #0b7fe5;
  	cursor: pointer;
  	background: none;
  	position: relative;
    left: 50%;
    margin-left: -120px;
  	//margin-left: -40px;transform: translateX(50%);
	}
}
/*
.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
	.fp-section {
		width: 100%!important;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: all .7s ease-in-out;
		&.active {
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}
	}
}
*/
		

/* footer */
footer {
	float: left;
	position: relative;
	.back-to-top {
	//padding-right: 3vw;
		position: absolute;
		//right: 76px;
		right: 7vw;
		bottom: 32px;
		width: 32px;
		line-height: 32px;
		background: url('../img/Up_button.svg') no-repeat 100% 50% / 32px 32px; 
    display: inline-block;
    text-indent: -9999px;
	}
	>div {
		height: auto;
		&.top-line {
			min-height: 28.6vh;
			background-color: #1b2c42;
			padding: 6vh 7vw;
			height: auto;
			.left-side {
				width: calc(100% - 130px);
				float: left;
				div {
					width: 25%;
					float: left;
				}
			}
			.right-side {
				width: 130px;
				float: left;
			}
			div {
				//width: 20%;float: left;
				color: #fff;
				&.small-font {
					color: #fff;
					font-family: 'Source Sans Pro', sans-serif;
	  			//font-size: 1.2vw;
			    font-size: 12px;
			    width: 100%;
	  			a {
	  				color: #fff;
						font-family: 'Source Sans Pro', sans-serif;
		  			//font-size: 1.2vw;
			    	font-size: 12px;
	  			}
	  			span {
	  				color: #fff;
						font-family: 'Source Sans Pro', sans-serif;
		  			//font-size: 1.2vw;
			    	font-size: 12px;
	  				margin: 0 0.5vw;
	  			}
				}
				h2 {
					background: url('../img/Kandio_Logo_header.svg') no-repeat 0 0/100% 100%;
			    width: 10vw;
			    height: 3vh;
			    margin-bottom: 2vh;
					a {
						line-height: 0;
						font-size: 0;
						color: transparent;
					}
				}
				h4 {
				  font-family: 'Montserrat', sans-serif;
				  //font-size: 1.2vw;
				  font-size: 16px;
				  font-weight: bold;
				  color: #999;
				  line-height: 2vh;
				  text-transform: uppercase;
				  padding-right: 1vw;
				  padding-bottom: 2vh;
				  position: relative;
				  &.marked {
				  	sup {
							opacity: 1;
							padding: 0 5px;
							background-color: #f05454;
							font-family: 'Source Sans Pro', sans-serif;
							color: #fff;
	  					font-size: 12px;
	  					font-weight: bold;
	  					line-height: 16px;
	  					border-radius: 50%;
	  					display: inline-block;
	  					width: 16px;
	  					height: 16px;
					  }	
				  }
				  
				}
				p {
					font-family: 'Source Sans Pro', sans-serif;
			    //font-size: 1.3vw;
			    font-size: 18px;
    			width: 50%;
    			line-height: 2.7vh;
				}
				a {
					font-family: 'Source Sans Pro', sans-serif;
  				//font-size: 1.3vw;
			    font-size: 18px;
    			width: 50%;
    			line-height: 2.7vh;
					color: #fff;
					clear: both;
				}
				ul {
					display: inline-block;
					li {
						float: left;
						width: 36px;
						height: 36px;
						&+li {
							//margin-left: 1vw;
							margin-left: 11px;
						}
						a {
							display: block;
							width: 100%;
							height: 100%;
							line-height: 0;
							font-size: 0;
						}
						img {
							@include img();
						}
					}
				}
				span {
					font-family: 'Source Sans Pro', sans-serif;
  				//font-size: 1.3vw;
			    font-size: 18px;
    			width: 50%;
    			line-height: 2.7vh;
					line-height: 1;
				}
				&:first-child {
					//padding-left: 3vw;
				}
				&:last-child {
					//width: 12%;
				}
			}
		}
		//&.low-line {min-height: 6vh;height: auto;background-color: #121f2f;display: flex;align-content: center;align-items: center;justify-content: space-between;padding: 0 2vw;}	
	}
}