/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  position: relative;
  max-height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header, section, main, footer {
  width: 100%; }

section {
  width: 100%;
  position: relative; }

@font-face {
  font-family: 'TheSansLight';
  src: url("../fonts/TheSansLight/TheSansLight_44258.eot");
  src: url("../fonts/TheSansLight/TheSansLight_44258.eot") format("embedded-opentype"), url("../fonts/TheSansLight/TheSansLight_44258.woff2") format("woff2"), url("../fonts/TheSansLight/TheSansLight_44258.woff") format("woff"), url("../fonts/TheSansLight/TheSansLight_44258.ttf") format("truetype"), url("../fonts/TheSansLight/TheSansLight_44258.svg#TheSansLight_44258") format("svg"); }

@font-face {
  font-family: 'TheSansSemiBold';
  src: url("../fonts/TheSansSemiBold/TheSansSemiBold_44271.eot");
  src: url("../fonts/TheSansSemiBold/TheSansSemiBold_44271.eot") format("embedded-opentype"), url("../fonts/TheSansSemiBold/TheSansSemiBold_44271.woff2") format("woff2"), url("../fonts/TheSansSemiBold/TheSansSemiBold_44271.woff") format("woff"), url("../fonts/TheSansSemiBold/TheSansSemiBold_44271.ttf") format("truetype"), url("../fonts/TheSansSemiBold/TheSansSemiBold_44271.svg#TheSansSemiBold_44271") format("svg"); }

@media screen and (max-width: 980px) {
  article.top-space {
    padding-top: 20vh; } }

@media screen and (max-width: 768px) {
  .wrapper {
    /* header */
    /* main */
    /*footer */ }
    .wrapper .popup.mob {
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      -webkit-border-radius: 0;
              border-radius: 0;
      padding-bottom: 10vh; }
      .wrapper .popup.mob .close {
        background: url("../img/close_icon_blue.svg") no-repeat 0 0/100% 100%;
        top: 5vh;
        right: 5vw;
        width: 4vw;
        height: 4vh; }
      .wrapper .popup.mob .circle {
        display: none; }
      .wrapper .popup.mob .box {
        display: none; }
      .wrapper .popup.mob .logo {
        display: block;
        background: url("../img/Kandio_logo_mobile_header.svg") no-repeat 0 0/100% 100%;
        width: 108px;
        height: 18px;
        margin: 5.4vh 0 0 36vw; }
      .wrapper .popup.mob form {
        width: 100%; }
        .wrapper .popup.mob form h4 {
          text-align: center;
          font-size: 6vh; }
        .wrapper .popup.mob form p {
          display: none; }
        .wrapper .popup.mob form input[type=text] {
          margin-top: 14px;
          font-size: 18px; }
          .wrapper .popup.mob form input[type=text]:focus {
            border-bottom-color: #0b7fe5;
            color: #000; }
        .wrapper .popup.mob form input[type=submit] {
          width: 100%;
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none;
          margin-left: 0;
          font-size: 20px; }
        .wrapper .popup.mob form textarea {
          margin-top: 14px;
          font-size: 18px; }
    .wrapper header {
      padding-top: 3vh;
      height: 7vh; }
      .wrapper header nav {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
        .wrapper header nav .sandwich-menu {
          display: block;
          margin-top: 1vh; }
        .wrapper header nav ul {
          display: none !important;
          position: absolute;
          background-color: #fff; }
      .wrapper header .logo {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        margin-top: .6vh; }
        .wrapper header .logo a {
          width: 108px;
          height: 18px; }
      .wrapper header .login {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3;
        padding: 0;
        text-indent: -9999px;
        width: 28px;
        height: 28px;
        background: url("../img/login-white.svg") no-repeat 50% 50%/12px 12px; }
    .wrapper section {
      overflow: hidden;
      min-height: 80vh; }
      .wrapper section.s1 {
        background-image: -webkit-radial-gradient(50% 100%, circle, #38a9e1, #0869c2);
        background-image: -o-radial-gradient(50% 100%, circle, #38a9e1, #0869c2);
        background-image: radial-gradient(circle at 50% 100%, #38a9e1, #0869c2); }
      .wrapper section.s2 {
        background-image: -webkit-radial-gradient(50% 100%, circle, #0e5b9e, #1b2c42);
        background-image: -o-radial-gradient(50% 100%, circle, #0e5b9e, #1b2c42);
        background-image: radial-gradient(circle at 50% 100%, #0e5b9e, #1b2c42); }
      .wrapper section.s3 {
        background-image: -webkit-radial-gradient(50% 100%, circle, #ffc100, #f98718);
        background-image: -o-radial-gradient(50% 100%, circle, #ffc100, #f98718);
        background-image: radial-gradient(circle at 50% 100%, #ffc100, #f98718); }
      .wrapper section.s4 {
        background-image: -webkit-radial-gradient(52% 100%, circle, #574ae2, #3d3690);
        background-image: -o-radial-gradient(52% 100%, circle, #574ae2, #3d3690);
        background-image: radial-gradient(circle at 52% 100%, #574ae2, #3d3690); }
      .wrapper section.s5 {
        background-image: -webkit-radial-gradient(47% 100%, circle, #75e36f, #2f9917);
        background-image: -o-radial-gradient(47% 100%, circle, #75e36f, #2f9917);
        background-image: radial-gradient(circle at 47% 100%, #75e36f, #2f9917); }
      .wrapper section.s6 {
        background-image: -webkit-radial-gradient(50% 100%, circle, #0e5b9e, #1b2c42);
        background-image: -o-radial-gradient(50% 100%, circle, #0e5b9e, #1b2c42);
        background-image: radial-gradient(circle at 50% 100%, #0e5b9e, #1b2c42); }
      .wrapper section.s7 {
        background-image: -webkit-radial-gradient(50% 100%, circle, #74bcf5, #0b7fe5);
        background-image: -o-radial-gradient(50% 100%, circle, #74bcf5, #0b7fe5);
        background-image: radial-gradient(circle at 50% 100%, #74bcf5, #0b7fe5); }
      .wrapper section.main-view {
        padding-top: 7vh; }
        .wrapper section.main-view .order {
          display: block;
          left: 50%;
          margin-left: -80px;
          bottom: 5vh;
          width: 159px;
          height: 40px;
          font-size: 18px;
          line-height: 40px;
          padding-left: 46px;
          background: url("../img/Play_button.svg") no-repeat 5% 50%/20px 20px; }
      .wrapper section.onView article {
        width: 100%; }
      .wrapper section.onView figure {
        width: 100%; }
      .wrapper section.onView h4:after {
        width: 40vw; }
    .wrapper .circle {
      display: none !important; }
    .wrapper .circle-2 {
      display: none !important; }
    .wrapper .circle-3 {
      display: none !important; }
    .wrapper .phonebox {
      width: 90%;
      height: auto;
      margin-right: 5% !important; }
      .wrapper .phonebox > div {
        background: url("../img/iphone_.png") no-repeat 50% 0/cover;
        overflow: hidden;
        width: 50vw;
        height: 55vh;
        -webkit-border-radius: 8vw 8vw 0 0;
                border-radius: 8vw 8vw 0 0; }
        .wrapper .phonebox > div.animated {
          padding: 1.3vh 3vw 2vw; }
    .wrapper article {
      width: 100%;
      height: auto;
      min-height: 50vh;
      padding-top: 10vh;
      padding-left: 3vw;
      padding-right: 3vw;
      padding-bottom: 3vh;
      text-align: center;
      float: left; }
      .wrapper article.top-space {
        padding-top: 6vh; }
      .wrapper article.wide.padding {
        padding-right: 3vw;
        padding-left: 3vw; }
      .wrapper article.wide .row {
        padding-bottom: 17vh;
        padding-top: 3vh;
        height: auto;
        overflow: hidden; }
      .wrapper article.wide .block {
        width: 90%;
        margin: 0 5%;
        padding: 2vh 2vw; }
        .wrapper article.wide .block:nth-child(2) {
          margin: 5%; }
        .wrapper article.wide .block .pageStage {
          top: 2vh;
          left: 35vw; }
        .wrapper article.wide .block figure {
          text-align: center;
          margin-top: 3vh;
          max-height: 32vh; }
        .wrapper article.wide .block h6 {
          font-size: 3.1vh;
          padding-bottom: 3.1vh; }
        .wrapper article.wide .block p {
          font-size: 14px; }
      .wrapper article.wide h6:after {
        left: 50%;
        margin-left: -15vw;
        width: 30vw; }
      .wrapper article.wide .link-board {
        width: 95%;
        margin-left: 2.5%;
        height: auto;
        margin-top: 3vh;
        padding-bottom: 6vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .wrapper article.wide .link-board li {
          float: left;
          width: 25%;
          border-bottom: 2px solid;
          border-color: transparent; }
          .wrapper article.wide .link-board li:hover:before {
            display: none; }
          .wrapper article.wide .link-board li.active {
            border-color: #fff; }
            .wrapper article.wide .link-board li.active:before {
              display: none; }
          .wrapper article.wide .link-board li:after {
            display: none; }
          .wrapper article.wide .link-board li:before {
            display: none; }
          .wrapper article.wide .link-board li a {
            font-size: 2.5vh; }
      .wrapper article.wide .link-box {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 0;
        height: auto; }
      .wrapper article.wide.mobile-order .order {
        display: block;
        bottom: 5vh;
        opacity: 1;
        left: 50%;
        margin-left: -95px; }
      .wrapper article h3 {
        font-size: 5vh; }
      .wrapper article h2 {
        font-size: 11vw; }
      .wrapper article h4:after {
        left: 50%;
        margin-left: -20vw; }
      .wrapper article h5 {
        font-size: 5vw;
        width: 80%;
        margin-left: 10%;
        text-align: center; }
      .wrapper article .order {
        display: none; }
      .wrapper article .scroll-down {
        display: none; }
      .wrapper article .indication {
        display: none; }
    .wrapper figure {
      width: 100%;
      text-align: center;
      float: left; }
      .wrapper figure.medium {
        width: 100% !important; }
      .wrapper figure.left-aligned {
        display: none; }
      .wrapper figure img {
        max-width: 85vw;
        height: auto;
        margin: 0 auto; }
    .wrapper form {
      width: 100% !important;
      margin: 0 !important;
      height: auto;
      -webkit-border-radius: 0;
              border-radius: 0;
      padding-top: 10vh;
      padding-bottom: 10vh; }
      .wrapper form h4 {
        font-size: 5vh;
        text-align: center; }
      .wrapper form p {
        font-size: 3vh;
        text-align: center;
        margin-bottom: 4vh;
        margin-top: 4vh; }
      .wrapper form input[type=text] {
        padding: 0 2vw;
        font-size: 3vh;
        height: 6vh;
        margin-top: 3vh;
        width: 100%; }
      .wrapper form textarea {
        font-size: 3vh;
        margin-top: 3vh;
        padding: 2vh 2vw;
        height: 14vh;
        width: 100%; }
      .wrapper form input[type=submit] {
        margin-top: 5vh;
        width: 100%;
        height: 7vh;
        font-size: 3vh;
        left: 0;
        margin-left: 0; }
    .wrapper footer {
      height: auto;
      /*.low-line {justify-content: center;flex-direction: column;padding: 2vh 0;position: relative;div {line-height: 3vh;font-size: 4vw;position: relative;}div:last-child {position: absolute;left: 50%;margin-left: -6vw;top: -3vh;}.back-to-top {width: 12vw;padding: 0;text-indent: -999px;}}*/ }
      .wrapper footer .back-to-top {
        padding: 0;
        position: absolute;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 56px;
        -webkit-background-size: 56px 56px;
                background-size: 56px 56px; }
      .wrapper footer .top-line {
        overflow: hidden;
        padding: 7vh 0 17vh; }
        .wrapper footer .top-line div {
          width: 100%;
          padding: 3vh 0 0;
          text-align: center; }
          .wrapper footer .top-line div.left-side {
            padding-top: 0; }
            .wrapper footer .top-line div.left-side div {
              width: 100%;
              padding-top: 7vh; }
              .wrapper footer .top-line div.left-side div:first-child {
                padding-top: 0; }
            .wrapper footer .top-line div.left-side .small-font {
              padding-top: 1vh; }
          .wrapper footer .top-line div h2 {
            display: inline-block;
            width: 152px;
            height: 26px; }
          .wrapper footer .top-line div p {
            width: 100%; }
          .wrapper footer .top-line div.left-side {
            width: 100%; }
          .wrapper footer .top-line div.right-side {
            width: 100%; }
        .wrapper footer .top-line .social {
          margin: 0 auto; } }

@-webkit-keyframes transparency {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

@keyframes transparency {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%; }
  .wrapper .popupBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    display: none; }
  .wrapper .popup {
    position: fixed;
    top: 15vh;
    left: 10vw;
    z-index: 99;
    background-color: #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: right 2s;
    -o-transition: right 2s;
    transition: right 2s;
    width: 80vw;
    height: 75vh;
    overflow: hidden;
    display: block; }
    .wrapper .popup .close {
      position: absolute;
      top: 1.4vh;
      right: 1.4vw;
      z-index: 50;
      width: 2vw;
      height: 2vh;
      display: block;
      background: url("../img/close_icon_white.svg") no-repeat 0 0/100% 100%; }
    .wrapper .popup .circle.blue {
      position: absolute;
      top: -15%;
      right: -5%;
      width: 50%;
      z-index: 2;
      height: 150%;
      background: url("../img/Oval_main_screen.svg") no-repeat 50% 50%/cover;
      -webkit-border-radius: 50% 0 0 50%;
              border-radius: 50% 0 0 50%; }
    .wrapper .popup .box {
      -webkit-border-radius: 6px;
              border-radius: 6px;
      background-color: #1b2c42;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
      float: right;
      position: relative;
      z-index: 19;
      width: 50%;
      height: 38vh;
      margin-top: 18vh; }
    .wrapper .popup .logo {
      display: none; }
    .wrapper .popup form {
      float: left;
      width: 50%;
      margin: 0; }
      .wrapper .popup form h4 {
        font-size: 4vw; }

/* header */
header {
  float: left;
  padding-top: 3.4vh;
  padding-right: 3.4vw;
  padding-left: 3.4vw;
  width: 100%;
  height: 7vh;
  position: relative;
  z-index: 30;
  margin-bottom: -7vh;
  opacity: 0;
  -webkit-transition: opacity .7s;
  -o-transition: opacity .7s;
  transition: opacity .7s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  header.onView {
    opacity: 1; }
  header .logo {
    position: relative;
    z-index: 99;
    display: inline-block; }
    header .logo a {
      display: block;
      background-image: url("../img/Kandio_Logo_header.svg");
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      width: 15vw;
      height: 3.8vh;
      font-size: 0;
      line-height: 0; }
  header .sandwich-menu {
    display: none;
    width: 17px;
    height: 13px;
    background: url("../img/burger-white.svg") no-repeat 50% 50%/100% 100%;
    /*span {
			float: left;
			width: 100%;
			height: .7vh;
			background-color: #fff;
			&+span {
				margin-top: .7vh;
			}
		}*/ }
  header .login {
    line-height: 3.4vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8vh;
    font-weight: 600;
    color: #fff;
    padding: 0 1.5vw;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    display: block;
    height: 3.4vh; }
  header nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff; }
  header nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3.4vh;
    width: 40vw; }
    header nav ul li {
      margin-right: 2vw; }

.mobile {
  display: none;
  position: absolute;
  z-index: 888;
  width: 100%;
  height: 70vh;
  background-color: #fff;
  border: 1px solid #3399ff;
  padding: 2vh 2vw; }
  .mobile .close {
    background: url("../img/close_icon_blue.svg") no-repeat;
    width: 6vw;
    height: 4vh;
    display: block;
    position: absolute;
    left: 4vw;
    top: 4vh; }
  .mobile .logo {
    position: relative;
    z-index: 99;
    margin-top: 1.5vh;
    width: 30vw;
    height: 3vh;
    margin-left: 35vw;
    display: block; }
    .mobile .logo a {
      display: block;
      background-image: url("../img/Kandio_logo_mobile_header.svg");
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      width: 100%;
      height: 100%;
      font-size: 0;
      line-height: 0; }
  .mobile .login {
    width: 6vw;
    height: 4vh;
    padding: 0;
    text-indent: -9999px;
    background: url("../img/Login_icon.svg") no-repeat 50% 50%/60% 60%;
    display: block;
    position: absolute;
    top: 3vh;
    right: 2vw;
    border: 1px solid #3399ff;
    -webkit-border-radius: 6px;
            border-radius: 6px; }
  .mobile ul {
    margin-top: 4vh;
    width: 100%; }
    .mobile ul li {
      float: left;
      width: 100%;
      margin-top: 2vh;
      text-align: center; }
      .mobile ul li a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 5.5vw;
        font-weight: 600;
        color: #1b2c42; }
  .mobile .order {
    display: block;
    height: 9vh;
    width: 60vw;
    border: 1px solid #3399ff;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    color: #3399ff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vw;
    line-height: 9vh;
    font-weight: 600;
    padding-left: 20vw;
    background: url("../img/Play_button_blue.svg") no-repeat 10px 50%/8vw 8vh;
    position: absolute;
    left: 20vw;
    bottom: 10vh; }

/* main slides */
main {
  float: left; }

section {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  /*&.active {
		article {
			height: 100%;
			opacity: 1;
		}
		.order {
			opacity: 1;
		}
		figure {
			margin-right: 0;
			&.medium {
				margin-left: 0;
			}
		}
		.phonebox {
			margin-right: 0;
		}
		form {
			&.orderDemo {
				margin-right: 0;	
			}
		}
		h4 {
			&:after {
				width: 12vw;
			}
		}
	}*/ }
  section.main-view {
    padding-top: 70px; }
  section.section {
    opacity: 0; }
  section.s1 {
    background-image: -webkit-radial-gradient(100% 50%, circle, #38a9e1, #0869c2);
    background-image: -o-radial-gradient(100% 50%, circle, #38a9e1, #0869c2);
    background-image: radial-gradient(circle at 100% 50%, #38a9e1, #0869c2); }
  section.s2 {
    background-image: -webkit-radial-gradient(100% 50%, circle, #0e5b9e, #1b2c42);
    background-image: -o-radial-gradient(100% 50%, circle, #0e5b9e, #1b2c42);
    background-image: radial-gradient(circle at 100% 50%, #0e5b9e, #1b2c42); }
  section.s3 {
    background-image: -webkit-radial-gradient(100% 50%, circle, #ffc100, #f98718);
    background-image: -o-radial-gradient(100% 50%, circle, #ffc100, #f98718);
    background-image: radial-gradient(circle at 100% 50%, #ffc100, #f98718); }
  section.s4 {
    background-image: -webkit-radial-gradient(102% 52%, circle, #574ae2, #3d3690);
    background-image: -o-radial-gradient(102% 52%, circle, #574ae2, #3d3690);
    background-image: radial-gradient(circle at 102% 52%, #574ae2, #3d3690); }
  section.s5 {
    background-image: -webkit-radial-gradient(100% 47%, circle, #75e36f, #2f9917);
    background-image: -o-radial-gradient(100% 47%, circle, #75e36f, #2f9917);
    background-image: radial-gradient(circle at 100% 47%, #75e36f, #2f9917); }
  section.s6 {
    background-image: -webkit-radial-gradient(100% 50%, circle, #0e5b9e, #1b2c42);
    background-image: -o-radial-gradient(100% 50%, circle, #0e5b9e, #1b2c42);
    background-image: radial-gradient(circle at 100% 50%, #0e5b9e, #1b2c42); }
  section.s7 {
    background-image: -webkit-radial-gradient(100% 50%, circle, #74bcf5, #0b7fe5);
    background-image: -o-radial-gradient(100% 50%, circle, #74bcf5, #0b7fe5);
    background-image: radial-gradient(circle at 100% 50%, #74bcf5, #0b7fe5); }
  section .circle {
    position: absolute;
    z-index: 1;
    height: 150%;
    width: 50%;
    top: -20%;
    left: 0;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-image: url("../img/Oval_main_screen.svg");
    -webkit-background-size: cover;
            background-size: cover;
    display: none;
    opacity: .5; }
  section .circle-2 {
    position: absolute;
    z-index: 1;
    height: 130%;
    width: 50%;
    top: -20%;
    right: 0;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: url("../img/Oval_feature_3.svg");
    -webkit-background-size: cover;
            background-size: cover;
    display: none; }
  section .circle-3 {
    position: absolute;
    z-index: 1;
    height: 125%;
    width: 80%;
    top: -20%;
    left: 0;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-image: url("../img/Ovals_mailstyrning.svg");
    -webkit-background-size: cover;
            background-size: cover;
    display: none; }
  section.onView article {
    height: 100%;
    opacity: 1; }
  section.onView .order {
    opacity: 1; }
  section.onView figure {
    margin-right: 0; }
    section.onView figure.medium {
      margin-left: 0; }
    section.onView figure.wide img {
      opacity: 1; }
  section.onView .phonebox {
    margin-right: 0; }
  section.onView form.orderDemo {
    margin-right: 7vw; }
  section.onView h4:after {
    width: 12vw; }

article {
  position: relative;
  padding-top: 20vh;
  padding-left: 10vw;
  height: 0;
  opacity: 0;
  -webkit-transition: height, opacity 2s;
  -o-transition: height, opacity 2s;
  transition: height, opacity 2s;
  z-index: 20;
  width: 40%;
  float: left;
  color: #fff; }
  article.top-space {
    padding-top: 40vh; }
  article.wide {
    width: 100%;
    padding: 10vh 1.3vw 0; }
    article.wide.padding {
      padding-right: 10vw;
      padding-left: 10vw; }
    article.wide .order {
      float: left;
      margin-top: 5vh;
      opacity: 0;
      -webkit-transition: opacity 3.7s;
      -o-transition: opacity 3.7s;
      transition: opacity 3.7s; }
    article.wide .row {
      width: 100%;
      height: 60vh; }
    article.wide .block {
      width: 32%;
      height: 100%;
      float: left;
      padding: 4vh 4vw;
      background-color: #fff;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #e6e6e6;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      margin-top: 7vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; }
      article.wide .block figure {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 3vh;
        max-height: 320px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-content: center;
            -ms-flex-line-pack: center;
                align-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        article.wide .block figure img {
          width: 100%;
          height: auto;
          display: inline-block;
          border: none;
          max-width: 585px; }
      article.wide .block:nth-child(2) {
        margin-left: 2%;
        margin-right: 2%; }
    article.wide h6 {
      font-family: AvenirNext;
      font-size: 28px;
      font-weight: bold;
      color: #4a4a4a;
      padding-bottom: 4vh;
      position: relative; }
      article.wide h6:after {
        content: '';
        display: block;
        width: 12vw;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(27, 44, 66, 0.15); }
    article.wide p {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.5vw;
      color: #1b2c42;
      margin-top: 3vh; }
    article.wide .pageStage {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 700;
      color: #0b7fe5;
      margin: 0;
      position: absolute;
      top: 4vh;
      left: 4vw; }
    article.wide .link-board {
      width: 35%;
      height: 48vh;
      margin-top: 20vh;
      float: left;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
          -ms-flex-pack: left;
              justify-content: left;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: left;
      -webkit-align-items: left;
          -ms-flex-align: left;
              align-items: left; }
      article.wide .link-board li {
        position: relative; }
        article.wide .link-board li:before {
          content: '';
          display: block;
          width: 0;
          height: 4px;
          -webkit-transition: width 1s;
          -o-transition: width 1s;
          transition: width 1s;
          background-color: #fff;
          position: absolute;
          left: 150px;
          top: 50%; }
        article.wide .link-board li.active a {
          opacity: 1; }
        article.wide .link-board li.active:before {
          width: 120px; }
        article.wide .link-board li:hover a {
          opacity: 1; }
        article.wide .link-board li:hover:before {
          width: 120px; }
        article.wide .link-board li a {
          opacity: 0.45;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 32px;
          font-weight: 700;
          line-height: 1.88;
          color: #fff; }
    article.wide .link-box {
      display: inline-block;
      background-color: #fff;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      float: left;
      width: 65%;
      height: 48vh;
      margin-top: 10vh;
      overflow: hidden;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1); }
      article.wide .link-box ul {
        width: 100%;
        height: 100%; }
        article.wide .link-box ul img {
          width: 100%;
          height: auto;
          display: inline-block;
          border: none; }
        article.wide .link-box ul li {
          float: left;
          width: 100%;
          height: 100%;
          display: none; }
          article.wide .link-box ul li.active {
            display: block; }
  article h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10vh;
    font-weight: bold;
    line-height: 1.05; }
  article h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    font-weight: 700; }
  article h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5vh;
    font-weight: bold;
    position: relative;
    padding-bottom: 4vh; }
    article h4:after {
      content: '';
      display: block;
      width: 0px;
      -webkit-transition: width 2s;
      -o-transition: width 2s;
      transition: width 2s;
      height: 4px;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: 0; }
  article h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vh;
    font-weight: 400;
    margin-top: 2vh; }
  article p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-top: 4vh;
    line-height: 3vh;
    display: none; }
  article .order {
    display: block;
    width: 190px;
    height: 52px;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 52px;
    font-weight: 600;
    padding-left: 58px;
    background: url("../img/Play_button.svg") no-repeat 10px 50%/30px 30px;
    position: absolute;
    left: 10vw;
    bottom: 15vh; }
  article .scroll-down {
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-right: 2vw;
    background: url("../img/Scroll_down.svg") no-repeat 100% 50%/13px 15px; }
  article .indication {
    position: absolute;
    left: 5vw;
    top: 50vh;
    width: 15px; }
    article .indication li {
      width: 15px;
      height: 15px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      opacity: 0.5;
      border: 1px solid #fff; }
      article .indication li + li {
        margin-top: 15px; }
      article .indication li.active {
        opacity: 1;
        background-color: #fff; }

figure {
  float: right;
  height: 100%;
  width: 60%;
  margin-right: -60%;
  -webkit-transition: margin 2s;
  -o-transition: margin 2s;
  transition: margin 2s;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden; }
  figure.middle-image {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  figure.left-aligned {
    float: left; }
  figure.medium {
    margin-left: -45%;
    width: 45%; }
  figure.wide img {
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
    opacity: 0; }
  figure img {
    width: 100%;
    height: auto;
    display: inline-block;
    border: none;
    max-width: 800px; }

.phonebox {
  float: right;
  height: 100%;
  margin-right: -60%;
  width: 60%;
  -webkit-transition: margin 2s;
  -o-transition: margin 2s;
  transition: margin 2s;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .phonebox > div {
    background: url("../img/iphone@3x.png") no-repeat 50%/contain;
    overflow: hidden;
    width: 322px;
    height: 640px;
    -webkit-box-shadow: -40px 0 30px 0 rgba(0, 0, 0, 0.36);
            box-shadow: -40px 0 30px 0 rgba(0, 0, 0, 0.36);
    -webkit-border-radius: 3vw 3vw 3vw 3vw;
            border-radius: 3vw 3vw 3vw 3vw; }
    .phonebox > div.animated {
      padding: 13px 20px 20px; }
    .phonebox > div img {
      width: 100%;
      height: auto;
      display: inline-block;
      border: none; }

form {
  float: right;
  background-color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-right: 5vw;
  padding: 5vh 5vw; }
  form.orderDemo {
    width: 40%;
    margin-right: -40%;
    -webkit-transition: margin 2s;
    -o-transition: margin 2s;
    transition: margin 2s;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1); }
  form h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vh;
    font-weight: 700;
    color: #0b7fe5; }
  form p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #1b2c42;
    margin-top: 3vh; }
  form input[type=text] {
    border: 1px solid;
    border-color: transparent transparent #bebebe;
    padding: 0 1vw;
    opacity: 0.4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3vw;
    height: 5vh;
    color: #1b2c42;
    margin-top: 3vh;
    width: 100%; }
    form input[type=text]:focus {
      border-bottom-color: #0b7fe5; }
  form textarea {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3vw;
    color: #000;
    opacity: 0.4;
    margin-top: 3vh;
    border: 1px solid;
    border-color: transparent transparent #bebebe;
    padding: 1vh 1vw;
    height: 10vh;
    width: 99%;
    resize: none;
    overflow: hidden; }
    form textarea:focus {
      border-bottom-color: #0b7fe5;
      color: #000; }
  form input[type=submit] {
    margin-top: 5vh;
    width: 243px;
    height: 52px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    border: solid 1px #0b7fe5;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #0b7fe5;
    cursor: pointer;
    background: none;
    position: relative;
    left: 50%;
    margin-left: -120px; }

/*
.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
	.fp-section {
		width: 100%!important;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: all .7s ease-in-out;
		&.active {
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}
	}
}
*/
/* footer */
footer {
  float: left;
  position: relative; }
  footer .back-to-top {
    position: absolute;
    right: 7vw;
    bottom: 32px;
    width: 32px;
    line-height: 32px;
    background: url("../img/Up_button.svg") no-repeat 100% 50%/32px 32px;
    display: inline-block;
    text-indent: -9999px; }
  footer > div {
    height: auto; }
    footer > div.top-line {
      min-height: 28.6vh;
      background-color: #1b2c42;
      padding: 6vh 7vw;
      height: auto; }
      footer > div.top-line .left-side {
        width: -webkit-calc(100% - 130px);
        width: calc(100% - 130px);
        float: left; }
        footer > div.top-line .left-side div {
          width: 25%;
          float: left; }
      footer > div.top-line .right-side {
        width: 130px;
        float: left; }
      footer > div.top-line div {
        color: #fff; }
        footer > div.top-line div.small-font {
          color: #fff;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 12px;
          width: 100%; }
          footer > div.top-line div.small-font a {
            color: #fff;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 12px; }
          footer > div.top-line div.small-font span {
            color: #fff;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 12px;
            margin: 0 0.5vw; }
        footer > div.top-line div h2 {
          background: url("../img/Kandio_Logo_header.svg") no-repeat 0 0/100% 100%;
          width: 10vw;
          height: 3vh;
          margin-bottom: 2vh; }
          footer > div.top-line div h2 a {
            line-height: 0;
            font-size: 0;
            color: transparent; }
        footer > div.top-line div h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-weight: bold;
          color: #999;
          line-height: 2vh;
          text-transform: uppercase;
          padding-right: 1vw;
          padding-bottom: 2vh;
          position: relative; }
          footer > div.top-line div h4.marked sup {
            opacity: 1;
            padding: 0 5px;
            background-color: #f05454;
            font-family: 'Source Sans Pro', sans-serif;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            line-height: 16px;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            display: inline-block;
            width: 16px;
            height: 16px; }
        footer > div.top-line div p {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 18px;
          width: 50%;
          line-height: 2.7vh; }
        footer > div.top-line div a {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 18px;
          width: 50%;
          line-height: 2.7vh;
          color: #fff;
          clear: both; }
        footer > div.top-line div ul {
          display: inline-block; }
          footer > div.top-line div ul li {
            float: left;
            width: 36px;
            height: 36px; }
            footer > div.top-line div ul li + li {
              margin-left: 11px; }
            footer > div.top-line div ul li a {
              display: block;
              width: 100%;
              height: 100%;
              line-height: 0;
              font-size: 0; }
            footer > div.top-line div ul li img {
              width: 100%;
              height: auto;
              display: inline-block;
              border: none; }
        footer > div.top-line div span {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 18px;
          width: 50%;
          line-height: 2.7vh;
          line-height: 1; }
